body {
  background-color: rgb(39, 39, 39);
  margin: 0;
  padding: 0;
}

.settings-page-title {
  font-size: 24px;
  font-weight: 500;
  width: 600px;
  margin: 20px auto 10px auto;
  color: #da0000
}

.settings-page-title i {
  margin-right: 10px;
}

.settings-page-container {
  width: 600px;
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.164);
  margin: 20px auto;
  background-color: #4c4c4c;
  border-radius: 3px;
  padding: 20px;
}

.settings-section {
  margin-bottom: 35px;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  color: #da0000;
  margin-bottom: 15px;
  margin-top: 0;
}

.check-option {
  display: flex;
  margin: 15px 0;
}

.check-option h3 {
  margin: 0;
  color: white;
  font-weight: 500;
}

.check-option-extra {
  color: rgb(175, 175, 175);
}

.check-option-extra a, .check-option-extra a:visited {
  color: rgb(175, 175, 175);
}

.checkbox {
  margin: 0px 15px 0px 5px;
  background-color: white;
  display: inline-block;
  border: 1px solid rgb(141, 141, 141);
  height: 15px;
  width: 15px;
}

.checkbox.checked {
  background-color: rgb(0, 153, 255);
}

.checkbox i {
  color: white;
  margin-top: 2px;
  display: block;
  text-align: center;
}

.last-fm-user {
  color: rgb(189, 189, 189);
  font-weight: 400;
}

.last-fm-user span {
  color: white;
  font-weight: 600;
}

.last-fm-button {
  padding: 4px 13px;
  background-color: #da0000;
  color: white;
  outline: none;
  border: 1px solid #da0000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.save-button {
  display: block;
  margin: auto;
  padding: 12px 23px;
  background-color: #da0000;
  color: white;
  outline: none;
  border: 1px solid #da0000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.last-fm-button:hover, .save-button:hover {
  background-color: white;
  color: #da0000;
}