body {
  background-color: white;
}

.album-container {
  border: 1px solid rgb(191, 191, 191);
}

.album-image {
  background: linear-gradient(#f1f1f1, #dcdcdc);
}

.times {
  color: rgb(66, 66, 66);
}

.song-title {
  color: rgb(27, 27, 27);
}

.song-supp-info {
  color: rgb(138, 138, 138);
}

.footer {
  background-color: #e2e2e2;
}

.song-progress-container {
  background-color: #b9b9b9;
}

.song-progress {
  width: 0%;
  height: 100%;
  background-color: #ff0000;
}

.volume-slider-container {
  background-color: #e2e2e2;
  border: none;
}

.queue {
  background-color: #ffffff;
}

.queue-header {
  background-color: #e2e2e2;
}

.queue-header h1 {
  font-size: 20px;
  color: #5a5a5a;
  text-align: center;
  margin: 0;
  margin-top: 7px;
}

.queue-item {
  border-bottom: 1px solid rgb(233, 233, 233);
}

.queue-item:hover, .queue-item.current {
  background-color: rgb(221, 45, 45);
}

.queue-item-title {
  color: rgb(51, 51, 51);
}

.queue-item-artist {
  color: #a2a2a2;
}

.queue-item-time {
  color: #9c9c9c;
}

.lyrics-panel.active {
  border-left: 1px solid #b1b1b1;
}

.lyrics-panel h1 {
  color: #f30000;
}

.lyrics-panel h2 {
  color: #8f8f8f;
}

.lyrics-panel h2 a:visited {
  color: #8f8f8f;
}

.lyrics-panel p {
  color: rgb(70, 70, 70);
}

.lyrics-panel p.no-results {
  color: rgb(70, 70, 70);
}

.loader {
  border: 5px solid #cfcfcf;
  border-top: 5px solid #d60000;
}

.lyrics-toggle, .settings-toggle {
  color: #9e9e9e;
  border-color: #9e9e9e;
}

.lyrics-toggle:hover, .settings-toggle:hover {
  color: rgb(53, 53, 53);
  border-color: rgb(53, 53, 53);
}

.controls-prev, .controls-next, .controls-play-pause {
  opacity: 0.6;
}